useDynLib(CLIMB, .registration=TRUE)
importFrom(abind, abind)
import(doParallel)
import(dplyr)
import(foreach)
import(JuliaCall)
importFrom(magrittr, "%>%")
import(methods)
import(parallel)
importFrom(plyr, alply)
importFrom(purrr, map, imap, map_int)
importFrom(readr, read_table2)
importFrom(Rcpp, evalCpp)
import(stats)
import(testthat)
import(mvtnorm)
importFrom(LaplacesDemon, rnorminvwishart)
importFrom(stringr, str_split)
export(run_mcmc)
export(extend_mcmc)
export(extract_chains)
export(merge_classes)
export(compute_distances_between_conditions)
export(compute_distances_between_clusters)
export(get_row_reordering)
export(reduce_by_hamming)
export(get_reduced_classes)
export(rGMM)
export(rconstr_GMCM)
export(r_assoc)
export(rconstr0_GMM)
export(get_hyperparameters)
export(get_prior_weights)
export(get_pairwise_fits)
export(get_pals)
export(display_pal)
export(merge_classes)
export(compute_distances_between_conditions)
export(compute_distances_between_clusters)
export(get_row_reordering)
export(test_consistency)