useDynLib(CLIMB, .registration=TRUE)
importFrom(abind, abind)
import(doParallel)
importFrom(dplyr, mutate)
import(foreach)
import(JuliaCall)
importFrom(magrittr, "%>%")
import(methods)
import(parallel)
importFrom(plyr, alply)
importFrom(purrr, map)
importFrom(readr, read_table2)
importFrom(Rcpp, evalCpp)
import(stats)
import(testthat)
import(mvtnorm)
importFrom(LaplacesDemon, rnorminvwishart)
importFrom(stringr, str_split)
exportPattern("^[[:alpha:]]+")
